html {
  box-sizing: border-box;
  font-family: Karma, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ol {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "img1" "img2"
    "img3" "img4"
    "img5" "img6"
    "img6" "img8";
  border: solid 3px #987ffa;
  border-radius: 6px;
  padding: 18px;
}

li {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: #6f00e7;
  font-family: Oswald, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

img {
  max-width: 15em;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

p {
  text-align: center;
  font-size: 1.4rem;
}

div {
  display: flex;
  align-self: center;
  flex-direction: row;
}

.span {
  color: #fff;
}

.cart {
  background-color: #6f00e7;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 3em;
  padding: .5rem 10rem .5rem .5rem;
  flex-shrink: 3;
  margin-right: 10rem;
}

.cart img {
  vertical-align: middle;
  padding-left: 1rem;
  padding-right: .5rem;
}
